<?xml version='1.0' encoding='utf-8'?>
<widget id="cc.fovea.purchase.demo" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PurchaseDemo</name>
    <description>
        A sample Cordova application that demonstrates the use of the Purchase plugin
    </description>
    <author email="contact@fovea.cc" href="http://fovea.cc">
        Fovea Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" version="1.0"/>
    <plugin name="cordova-plugin-file" version="2" />
    <plugin name="cordova-plugin-device" version="1" />
    <plugin name="cordova-plugin-zip" version="3" />
    <plugin name="cordova-plugin-file-transfer" version="1" />

</widget>
